.todo{
  width: 100%;
  background-color: var(--white);
  margin: 0 0 1rem 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}
.todo-content{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.handle{
  background-color: var(--prime);
  height: 100%;
  display: flex;
  flex-flow: row;
  padding: 0 1rem 0 1rem;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.handle img{
  width: 2rem;
  height: 2rem;
}

.todo-content-check{
  display: flex;
  margin: 2rem;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.todo-content-checkn img{
  width: 4rem;
  height: 4rem;
}

.todo-content-titel{
  width: 100%;
}

.todo-content-titel input{
  font-size: 2rem;
  padding: 2rem;
  color: var(--second);
  width: 100%;
  border: none;
  word-break: break-word;
}
.todo-content-titel input::placeholder{
  opacity: 0.5;
  font-style: italic;
}
.todo-content-titel input:focus{
  outline: none;
}
.delete{
  background-color: var(--red);
  color: var(--white);
  font-size: 2rem;
  padding: 2rem;
  cursor: pointer;
}
.delete span{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.done .todo-content .handle {
  display: none;
}

.done .todo-content .todo-content-titel input{
  opacity: 0.3;
  text-decoration: line-through;
}
